<!-- Validation failure messages -->
<% if @website.errors.any? %>
  <% @website.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Website</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_website" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date_id -->
      <div class="form-group">
        <label for="date_id" class="control-label">
          Date
        </label>

        <%= select_tag(:date_id, options_from_collection_for_select(DateIdea.all, :id, :date_name, @website.date_id), :class => "form-control") %>
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="<%= @website.url %>">
      </div>

      <button class="btn btn-success">
        Create Website
      </button>
      or
      <a href="/websites">Cancel</a>
    </form>
  </div>
</div>
